BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
SortIncludes: true
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
